@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Archivo:wght@800&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Great+Vibes&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@700&display=swap');
*{
    /* outline: red solid 1px; */
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a, button{
    cursor: pointer;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}


                /* NAVIGATION BAR */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 10;
}
.logo{
    top: 1;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 5px;
}
.title>h1{
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0 0 0 0;
}
.title>h3{
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: rgb(127, 111, 243);
    margin: 0 0 80px 0;
}
.profile-picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.nav-links{
    width: 100%;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    width: 70%;
    text-align: left;
    padding: 10px 0;
    margin: 0 0 0 35px;
    border-top: 1px solid rgb(127, 111, 243);
}
.nav-links li:last-child{
    border-bottom: 1px solid rgb(127, 111, 243);
}
.nav-links li>a{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: white;
    padding: 10px;
}
.nav-links li>a:hover, :active{
    color: rgb(127, 111, 243);
}


            /* body */
.about-me{
    margin: 0 0 0 250px;
    background-color: black;
    width: 83%;
    height: fit-content;
    
}
.about-me>h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: white;
}
.about-me>h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 65px;
    text-align: center;
    color: white;
    margin-top: -20px;
    margin: auto;
    width: fit-content;
    border-bottom: 2px solid rgb(127, 111, 243);
}
.about{
    padding-top: 50px;
    width: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.about-one>img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin: 0 0 0 -50px
}
.about-two{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-two-one{
    width: 100%;
    margin: 0 0 0 0;
    border-bottom: 2px solid rgb(127, 111, 243);
}
.about-two-one>p{
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
    color: white;
    line-height: 2;
}
.about-two-one>h4{
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    font-size: 20px;
    text-align: left;
    color: rgb(127, 111, 243);
}
.about-two-one>h2{
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    color: white;
}
.about-two-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;

}
.about-two-two>h4{
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    font-size: 15px;
    text-align: left;
    color: white;
    width: 50%;
}
.bold{
    color: rgb(127, 111, 243);
}
.about-me-cont{
    margin: 0 0 0 250px;
    background-color: black;
    width: 83%;
    height: fit-content;
    color: white;
}
.left{
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
    color: white;
    line-height: 2;
    width: 80%;
    margin: 20px auto ;
}
.left::first-letter{
    font-size: 30px;
    color: rgb(127, 111, 243);
}

.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
  }
.social-icons img {
    width: 30px;
    height: 30px;
  }
.social-icons img:hover{
    transform: translateX(-5px);
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block; 
        top: 0;
        left: 0;
        position: fixed;
        padding: 10px;
        height: 100%;
        width: 8%;
        background-color: black;
        box-shadow: 0 0 10px rgb(255, 255, 255);

    }
    .hamburger-menu.active + header {
        display: block;
    }
    header{
        display: none;
        width: 30%;
    }
    
                /* body */
    .about-me{
        margin: auto;
        height: fit-content;
        
    }
    .about-one>img{
        width: 450px;
        height: 250px;
        margin: auto;
    }
    .about-two{
        width: 80%;
        margin: auto;
    }
    .about-two-one>p{
        text-align: justify;
        line-height: 1.5;
    }
    .about-me-cont{
        margin: auto;
    }
    .left::first-letter{
        font-size: 30px;
        color: rgb(127, 111, 243);
    }
} 