@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
*{ 
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
    overflow: hidden;
}
a {
    cursor: pointer;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
.hamburgerMenu {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #7f6ff3;
    margin: 6px 0;
}
/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    padding: 2rem;
    background-color: #000000;
    box-shadow: 0 0 10px #7f6ff3;
    z-index: 10;
}
.logo {
    top: 1;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 5px;
    display: block;
    margin: auto;
}
.title h1 {
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 0;
}
.title h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: #7f6ff3;
    margin: 0 0 80px 0;
}
.profilePicture img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
/* NAVIGATION */
.navLinks {
    width: 100%;
}
.navLinks li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    width: 70%;
    text-align: left;
    padding: 10px 0;
    margin: 0 0 0 35px;
    border-top: 1px solid #7f6ff3;
}
.navLinks li:last-child {
    border-bottom: 1px solid #7f6ff3;
}
.navLinks li  a {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
}
.navLinks li > a:hover, :active {
    color: #7f6ff3;
}
/* VIDEO BACKGROUND */
.videoContainer {
    margin: auto;
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.videoContainer video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -20;
}
/* CODE SNIPPET  */
.codes {
    margin: auto;
    width: 60%;
    height: fit-content;
    font-family: "Consolas", "monospace";
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 2%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #7f6ff3;
}
.codes .one {
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #7f6ff3;
}
.codes .two {
    font-family: "monteserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: #7f6ff3;
}
/* SOCIAL ICONS */
.socials{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width: 5rem;
    padding: 0rem;
}
.socials img {
    width: 30px;
    height: 30px;
}
.socials img:hover {
    transform: translateX(-5px);
}

/* MEDIA QUERY */
/*319px - 480px - MOBILE DEVICES*/
@media (min-width: 319px) and (max-width: 480px) {
    .hamburgerMenu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px; 
        z-index: 12; 
    }
    .hamburgerMenu::before, .hamburgerMenu::after {
        width: 20px;
    }
    .hamburgerMenu:active .header{
        display: block;
    }
    /* NAVIGATION BAR */
    header {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        padding: 2rem;
        background-color: #000000;
        box-shadow: 0 0 10px #7f6ff3;
        z-index: 10;
    }
    .logo {
        top: 1;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 5px;
    }
    .title h1 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #ffffff;
    }
    .title h3 {
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        font-size: 1rem;
        color: #7f6ff3;
        margin: 0 0 2rem 0;
    }
    .profilePicture img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .navLinks {
        width: 100%;
    }
    .navLinks li {
        list-style: none;
        display: inline-block;
        justify-content: center;
        width: 70%;
        text-align: left;
        padding: 10px 0;
        margin: 0 0 0 35px;
        border-top: 1px solid #7f6ff3;
    }
    .navLinks li:last-child {
        border-bottom: 1px solid #7f6ff3;
    }
    .navLinks li > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.7rem;
        color: #ffffff;
        padding: 10px;
    }
    .navLinks li > a:hover, :active {
        color: #7f6ff3;
    }
    /* BODY */
    .videoContainer {
        margin: auto;
        width: 100vw; 
        height: 100vh;
        overflow: hidden; 
        background-color: #000000;
        z-index: -2;
    }
    .videoContainer video {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 100%;
        height: 50%;
        max-height: 100%; 
        object-fit: cover;
        z-index: -1; 
    }
    /* CODE SNIPPET */
    .codes {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 80%;
        height: fit-content;
        font-family: "Consolas", "monospace";
        font-size: 0.5rem;
        padding: 0;
        border-radius: 2%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px #7f6ff3;
    }
    .one {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: #7f6ff3;
    }
    .two {
        font-family: "monteserrat", sans-serif;
        font-weight: 500;
        font-size: 0.5rem;
        text-transform: uppercase;
        color: #7f6ff3;
    }
    /* SOCIAL ICONS */
    .socials{
        position: fixed;
        bottom: 19%;
        right: -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 0.5rem;
        width: 5rem;
        padding: 0rem;
    }
    .socials img {
        width: 20px;
        height: 20px;
    }
    .socials img:hover {
        transform: none;
    }
}
/* 481PX - 1200PX - IPADS & TABETS */
@media (min-width: 481px) and (max-width: 1200px) {
    /* HEADER */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        padding: 2rem;
        background-color: #000000;
        box-shadow: 0 0 10px #7f6ff3;
        z-index: 10;
    }
    .logo {
        top: 1;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 5px;
        display: block;
        margin: auto;
    }
    .title h1 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        color: #ffffff;
        margin: 0 0 0 0;
    }
    .title h3 {
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;
        text-align: center;
        color: #7f6ff3;
        margin: 0 0 80px 0;
    }
    .profilePicture img {
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
    /* NAVIGATION */
    .navLinks {
        width: 100%;
    }
    .navLinks li {
        list-style: none;
        display: inline-block;
        justify-content: center;
        width: 70%;
        text-align: left;
        padding: 10px 0;
        margin: 0 0 0 35px;
        border-top: 1px solid #7f6ff3;
    }
    .navLinks li:last-child {
        border-bottom: 1px solid #7f6ff3;
    }
    .navLinks li > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 14px;
        color: #ffffff;
        padding: 10px;
    }
    .navLinks li > a:hover, :active {
        color: #7f6ff3;
    }
    /* VIDEO BACKGROUND */
    .videoContainer {
        margin: auto;
        padding: 5rem;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .videoContainer video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -20;
    }
    /* CODE SNIPPET  */
    .videoContainer {
        margin: auto;
        width: 100vw; 
        height: 100vh;
        overflow: hidden; 
        background-color: #000000;
        z-index: -2;
    }
    .videoContainer video {
        position: absolute;
        top: 50%; 
        left: 65%; 
        transform: translate(-50%, -50%); 
        width: 100%;
        height: 50%;
        max-height: 100%; 
        object-fit: cover;
        z-index: -1; 
    }
    .codes {
        position: absolute;
        top: 50%; 
        left: 65%; 
        transform: translate(-50%, -50%); 
        width: 60%;
        height: fit-content;
        font-family: "Consolas", "monospace";
        font-size: 1rem;
        padding: 0;
        border-radius: 2%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px #7f6ff3;
    }
    .one {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 5px;
        color: #7f6ff3;
        position: relative;
        top: 50%;
        left: -7rem;
    }
    .two {
        font-family: "monteserrat", sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #7f6ff3;
    }
    /* SOCIAL ICONS */
    .socials{
        position: fixed;
        bottom: 10%;
        right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 0.5rem;
        width: 5rem;
        padding: 0rem;
    }
    .socials img {
        width: 30px;
        height: 30px;
    }
    .socials img:hover {
        transform: none;
    }
}