@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Archivo:wght@800&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Great+Vibes&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@700&display=swap');
* {
    /* outline: red solid 1px; */
    box-sizing: border-box;
    padding: 0;
    transition: all 0.3s ease 0s;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #f34c4f;
}
body {
    margin: 0;
    padding: 0;
}
.hamburgerMenu {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #7f6ff3;
    margin: 6px 0;
}
/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    padding: 2rem;
    background-color: #000000;
    box-shadow: 0 0 10px #7f6ff3;
    z-index: 10;
}
.logo {
    top: 1;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 5px;
    display: block;
    margin: auto;
}
.title h1 {
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 0;
}
.title h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: #7f6ff3;
    margin: 0 0 80px 0;
}
.profilePicture img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
/* NAVIGATION */
.navLinks {
    width: 100%;
}
.navLinks li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    width: 70%;
    text-align: left;
    padding: 10px 0;
    margin: 0 0 0 35px;
    border-top: 1px solid #7f6ff3;
}
.navLinks li:last-child {
    border-bottom: 1px solid #7f6ff3;
}
.navLinks li > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
}
.navLinks li > a:hover, :active {
    color: #7f6ff3;
}
/* body */
.skills {
    background-color: #000000;
    height: fit-content;
    width: calc(100vw - 15%);
    padding: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}
.skills>p{
    margin: 1rem auto;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
    text-align: justify;
    color: #ffffff;
    line-height: 2;
    text-indent: 20px;
}
.skills>h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}
.skills>h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid #7f6ff3;
}
.skillSet {
    width: 80%;
    height: fit-content;
    padding: 2rem;
    background-color: transparent;
    color: #ffffff;
    margin: auto;
}
.skillSet ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
    text-align: justify;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 15px;
}
/* CERTIFICATION */
.certification{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 5rem;
   
}
.certification>p{
    margin: 1rem auto;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
    text-align: justify;
    color: #ffffff;
    line-height: 2;
    text-indent: 20px;
}
.certification>h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid #7f6ff3;
}
.projectList{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.certificationItem {
    background-color: #25213f; 
    padding: 1rem; 
    width: 40%; 
    height: fit-content;
    border-radius: 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: justify;
    text-indent: 20px;
}
.certificationItem h2 {
    font-family: "lobster two", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin: -0.5rem 0 -0.7rem 0;
}
.certificationItem h3{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}
.certificationItem p {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 0.6rem;
    text-align: justify;
    color: #ffffff;
    text-indent: 20px;
}
.certificationItem:hover {
    transform: scale(1.03);
}
.certificationPreview {
    max-width: 100%; 
    overflow: hidden; 
    margin-bottom: 10px;
}
.certificationPreview img,
.certificationPreview video {
    max-width: 100%; 
    height: auto; 
    display: block; 
}
/* SOCIAL ICONS */
.socials{
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width: 5rem;
    padding: 0rem;
}
.socials img {
    width: 30px;
    height: 30px;
}
.socials img:hover {
    transform: translateY(-5px);
}
/* MEDIA QUERY */
/*480px - MOBILE DEVICES*/
@media (max-width: 480px) {
    .hamburgerMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px; 
        z-index: 12; 
    }
    .hamburgerMenu::before, .hamburgerMenu::after {
        width: 20px;
    }
    .hamburgerMenu:active .header{
        display: block;
    }
    /* NAVIGATION BAR */
    header {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        padding: 2rem;
        background-color: #000000;
        box-shadow: 0 0 10px #7f6ff3;
        z-index: 10;
    }
    .logo {
        top: 1;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 5px;
    }
    .title h1 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #ffffff;
    }
    .title h3 {
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        font-size: 1rem;
        color: #7f6ff3;
        margin: 0 0 2rem 0;
    }
    .profilePicture img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .navLinks {
        width: 100%;
    }
    .navLinks li {
        list-style: none;
        display: inline-block;
        justify-content: center;
        width: 70%;
        text-align: left;
        padding: 10px 0;
        margin: 0 0 0 35px;
        border-top: 1px solid #7f6ff3;
    }
    .navLinks li:last-child {
        border-bottom: 1px solid #7f6ff3;
    }
    .navLinks li > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.7rem;
        color: #ffffff;
        padding: 10px;
    }
    .navLinks li > a:hover, :active {
        color: #7f6ff3;
    }
    /* body */
    .skills {
        background-color: #000000;
        height: fit-content;
        width: 100vw;
        padding: 1rem;
    }
    .skills>p{
        margin: 1rem auto;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: justify;
        color: #ffffff;
        line-height: 2;
        text-indent: 20px;
    }
    .skills>h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
    }
    .skills>h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        color: #ffffff;
        width: fit-content;
        margin: auto;
        border-bottom: 2px solid #7f6ff3;
    }
    .skillSet {
        width: 80%;
        height: fit-content;
        padding: 1rem;
        background-color: transparent;
        color: #ffffff;
        margin: auto;
        margin-bottom: 5rem;
    }
    .skillSet ul li {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: justify;
        color: #ffffff;
        line-height: 1;
        margin-bottom: 15px;
    }   
    /* CERTIFICATION */
    .certification{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        margin-bottom: 5rem;
    
    }
    .certification>p{
        margin: 1rem auto;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: justify;
        color: #ffffff;
        line-height: 2;
        text-indent: 20px;
    }
    .certification>h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        color: #ffffff;
        width: fit-content;
        margin: auto;
        border-bottom: 2px solid #7f6ff3;
    }
    .certificationList{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }
    .certificationItem {
        background-color: #25213f; 
        padding: 1rem; 
        width: 100%; 
        height: fit-content;
        border-radius: 2%;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.5rem;
        text-align: justify;
        text-indent: 20px;
    }
    .certificationItem h2 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
        margin: -0.5rem 0 0rem 0;
    }
    .certificationItem h3{
        font-family: "montserrat", sans-serif;
        font-weight: 500;
        font-size: 0.5rem;
        text-align: center;
        color: #ffffff;
    }
    .certificationItem p {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.5rem;
        text-align: justify;
        color: #ffffff;
        text-indent: 20px;
    }
    .certificationItem:hover {
        transform: scale(1.03);
    }
    .certificationPreview {
        max-width: 100%; 
        overflow: hidden; 
        margin-bottom: 10px;
    }
    .certificationPreview img,
    .certificationPreview video {
        max-width: 100%; 
        height: auto; 
        display: block; 
    }
    /* SOCIAL ICONS */
    .socials{
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 0.5rem;
        width: 10rem;
        padding: 0rem;
        z-index: 0;
    }
    .socials img {
        width: 30px;
        height: 30px;
    }
    .socials img:hover {
        transform: none;
    }
}
/* 481PX - 1200PX - IPADS & TABETS */
@media (min-width: 481px) and (max-width: 1200px) {
    /* HEADER */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        padding: 2rem;
        background-color: #000000;
        box-shadow: 0 0 10px #7f6ff3;
        z-index: 10;
        padding-top: 12rem;
    }
    .logo {
        top: 1;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 5px;
        display: block;
        margin: auto;
    }
    .title h1 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        color: #ffffff;
        margin: 0 0 0 0;
    }
    .title h3 {
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        font-size: 15px;
        text-align: center;
        color: #7f6ff3;
        margin: 0 0 80px 0;
    }
    .profilePicture img {
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
    /* NAVIGATION */
    .navLinks {
        width: 100%;
    }
    .navLinks li {
        list-style: none;
        display: inline-block;
        justify-content: center;
        width: 70%;
        text-align: left;
        padding: 10px 0;
        margin: 0 0 0 35px;
        border-top: 1px solid #7f6ff3;
    }
    .navLinks li:last-child {
        border-bottom: 1px solid #7f6ff3;
    }
    .navLinks li > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 14px;
        color: #ffffff;
        padding: 10px;
    }
    .navLinks li > a:hover, :active {
        color: #7f6ff3;
    }
    /* body */
    .skills {
        background-color: #000000;
        height: fit-content;
        width: calc(100vw - 30%);
        padding: 3rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    .skills>p{
        margin: 1rem auto;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.8rem;
        text-align: justify;
        color: #ffffff;
        line-height: 2;
        text-indent: 20px;
    }
    .skills>h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
    }
    .skills>h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        color: #ffffff;
        width: fit-content;
        margin: auto;
        border-bottom: 2px solid #7f6ff3;
    }
    .skillSet {
        width: 80%;
        height: fit-content;
        padding: 1rem;
        background-color: transparent;
        color: #ffffff;
        margin: auto;
        margin-bottom: 5rem;
    }
    .skillSet ul li {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.8rem;
        text-align: justify;
        color: #ffffff;
        line-height: 1;
        margin-bottom: 15px;
    }
    /* CERTIFICATION */
    .certification{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        margin-bottom: 5rem;
    
    }
    .certification>p{
        margin: 1rem auto;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.8rem;
        text-align: justify;
        color: #ffffff;
        line-height: 2;
        text-indent: 20px;
    }
    .certification>h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        color: #ffffff;
        width: fit-content;
        margin: auto;
        border-bottom: 2px solid #7f6ff3;
    }
    .certificationList{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }
    .certificationItem {
        background-color: #25213f; 
        padding: 1rem; 
        width: 100%; 
        height: fit-content;
        border-radius: 2%;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: justify;
        text-indent: 20px;
    }
    .certificationItem h2 {
        font-family: "lobster two", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        margin: -0.5rem 0 0rem 0;
    }
    .certificationItem h3{
        font-family: "montserrat", sans-serif;
        font-weight: 500;
        font-size: 0.5rem;
        text-align: center;
        color: #ffffff;
    }
    .certificationItem p {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: justify;
        color: #ffffff;
        text-indent: 20px;
    }
    .certificationItem:hover {
        transform: scale(1.03);
    }
    .certificationPreview {
        max-width: 100%; 
        overflow: hidden; 
        margin-bottom: 10px;
    }
    .certificationPreview img,
    .certificationPreview video {
        max-width: 100%; 
        height: auto; 
        display: block; 
    }
    /* SOCIAL ICONS */
    .socials{
        position: fixed;
        bottom: 20px;
        right: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 1rem;
        width: 5rem;
        padding: 0rem;
    }
    .socials img {
        width: 30px;
        height: 30px;
    }
    .socials img:hover {
        transform: none;
    }
}